body{
    font-size: 24px;
    font-family: Arial;
}

.empresa, .area{
    display: block;
    background-color: aqua;
    width: 200px;
    height: 100px;
}

.computador, .roteador{
    display: inline;
    background-color: yellowgreen;
}

.celular, .impressora{
    display: inline-block;
    background-color: orange;
    height: 100px;
    width: 200px;
}
