body{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

h1{
    margin: 0;
    text-align: center;
}
article{
    background-color: gray;
}

.coluna1, .coluna2{
    background-color: #fa0;
    float: left;
    width: 48%;
    text-align: justify;
}

.coluna2{
    float: right;
}

div{
    text-align: center;
    background-color: yellow;
    text-decoration: dotted;
    clear: both;
}

